.picture-picture{
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 0px;
    background-color: black;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.151);
}

.picture-picture.active{
    overflow: visible;
}


.picture-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    transition: 500ms height ease-out;
    border: 2px solid transparent;
}



.picture-picture.active .picture-image{
    height: auto;
    object-fit: contain;
    border-color: black;
    z-index: 99;
}

